.container {
    width: 30%;
    margin: 50px auto;
    animation: fadeIn ease-in 20s;
    display: flex;
    justify-content: center;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
    
}


.card {
    position: relative;
    top: 30%;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 90%;
    height: 500px;
    text-align: center;
    
}






.description{
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 10%;
    width: 100%;
    border: 1px solid #fff;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 10px;
    border-top: 0;
    border-radius: 10px;
    
}

.description h4 a  {
    color:#fff;
    font-style: italic;
    text-transform: uppercase;
    background: transparent;
    border: 5px solid #09a8fa;
    padding: 10px;
    border-radius: 8px;

}

.description h4 a:hover  {
    color:#fff;
    text-transform: lowercase;
    background: #09a8fa;
    border-radius: 8px;

}


.images {
    width: 100%;
    height: 420px;
   border-radius: 10px;
    border: 0.5px solid #fff;
    object-fit: cover;
}


@media screen and (max-width: 600px){
    .container{
        margin:50px auto ;
        width: 90%; 
    }
    .card {
width: 100%;
height: 400px;
    }

    .images {
        /* background: transparent; */
        width:100%;
        height: 300.8px;
        border-radius: 10px;
        border: 1px solid #fff;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .description{
        bottom :20px
    }
}