.container {
    width: 30%;
    flex-grow: 3;
    margin: 50px 20px;
}


.card {
    position: relative;
    top: 30%;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    text-align: center;
    
    
}

.image {

}

.image h1 {
    color:#fff;
}


.description{
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 40%;
    width: 100%;
    border: 1px solid #fff;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
    
}

.description h1 {
    color: #fff;
}


@media screen and (max-width: 600px){
    .container{
        width: 90%;
    }
    .card {
width: 90%;

    }
}