.navbar{
    
    background: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 90px;
}

.navbar i {
    color:#09a8fa;
    margin-left: 10px;
    font-size: 25px;
    animation: fadeIn ease 10s;
}

.navbar h3 {
    margin: 10px;
    padding: 15px;
    color: #e5e5e5;
    animation: fadeIn ease 10s;
}

.navbar h3:hover {
    animation: fadeOut ease 10s;
    background: #fff;
    color:#41444b;
    border-radius: 5px;
    cursor: pointer;
}

.navbar li i {
    font-size: 20px;
    color: #09a8fa;
    margin-right: 5px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.menu{
    display: none;
}

.nav {
    list-style-type:none;
    display: flex;
    position: absolute;
    right: 10px;
    align-items: center;
}

.nav li {
    color: #e5e5e5;
    margin: 10px;
    text-transform: uppercase;
    padding: 15px;
    
}



.about {
    color: #ff6b6b;
}

.resume {
    color: #0abde3;
}

.navbar li i:hover {
    font-size: 15px;
    color: #41444b;

}

.nav li:hover {
    background: #fff;
    color:#41444b;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}



@media screen and (max-width: 600px){

    .nav{
        display: none;
    }

    .menu {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        position:absolute;
        right: 10px;
        
    }

    .menu:hover {
        animation: fadeIn ease 10s;
    }


    .nav {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #41444b;
        width: 100%;
        display: none;
        text-align: center;
    }

    .nav li {
        color: #e5e5e5;
        margin: 10px;
        text-transform: uppercase;
        padding: 15px;
        
    }

    .nav li:hover {
        background: #fff;
        color:#41444b;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
    }

    .nav li i{
        margin-right: 10px;
        
    }

    .nav::before {
        content:'';
        border-left:10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #41444b;
        position: absolute;
        top: -10px;
        right: 10px;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

}