ul{
   overflow: hidden;
    background-color: black;
    padding: 5px;
}

li{
    display: inline;
    float: left;
}

li a {
    display: block;
    /* color: rgb(90, 131, 141); */
    color:rgb(6, 252, 6);
    padding: 14px 14px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

li a:hover {
    background-color: white;
    border: 1px dashed white;
    border-radius: 5px;
}

.active {
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 10px;
}

.about-me {
    margin: 0 5px;
}

@media(max-width: 700px){
    li{
        display: block;
    }
    li a:hover {
        background-color: white;
    }
}