* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* overflow: hidden; */
  }

.content {
  height: 100%;
}


.video {
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: -1;
height: 100%;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width:600px){
  .content {
  height: 100%;
  }

  .projects {
    display:block;
    
  }

  .video {
    height:100%;
  }
}

