* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* overflow: hidden; */
  }

.content {
  height: 100%;
}


.video {
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: -1;
height: 100%;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.projects {
  display: inline-block;
  position: relative;
  top: 5%;
  left: 0;
  width: 30%;
}


.lines {
  border: 5px  #09a8fa;
  border-style: none none dotted none;
  width:10%;
  margin:auto;
  animation: fadeIn ease-in 10s;
  opacity: 0.5;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity:1;
  }
}


.contact{
  position: absolute;
  right:0;
  top: 14%;
  width: 45%;
  text-align: center;
 
}



@media screen and (max-width:600px){
  .contact{
    position: static;
    /* left: 25%; */
    width: 100%;
    text-align: center;
    /* margin: auto; */
  }
  
.projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

  .content {
  height: 100%;
  }

  .projects {
    display:block;
    
  }

  .video {
    height:100%;
  }

  .dottedLines {
    border: 5px  #09a8fa;
    border-style: none none dotted none;
    width:20%;
    margin:auto;
    opacity: 0.5;
    animation: fadeIn ease-in 10s;
  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity:1;
    }
  }
}
::-webkit-scrollbar{
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-track{
  border-radius: 15px;
  background: transparent;
}

::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: #09a8fa;
}
